@{
    ViewData["Title"] = "Rate my Cover Record";
}
       
        <div class="container" ng-controller="rateImageController">
            <div class="row form-group">
                <div class="col-lg-6 form-inline">
                    <input type="text" class="form-control" ng-model="imageURL" ng-change="setImage()" />
                    <button class="btn btn-md btn-primary" ng-click="rate();">Rate</button>
                </div>
            </div>
            <div class="row">
                <div class="form-inline">
                    <img id="cover" ng-src="{{imageSource}}" alt="coverAlbum" width="0" height="0" ng-hide="imageSource === undefined || imageSource === ''" />
                    <img id="notAppropiated" alt="parentAdvisoryN" src="~/images/parental-advisory.jpg" width="0" height="0" ng-show="notAppropiated" />
                    <img id="appropiated" alt="parentAdvisoryA" src="~/images/thumbsup.jpg" width="0" height="0" ng-show="appropiated" />
                </div>
            </div>
        </div>
