@{
    ViewData["Title"] = "Rate my Lyrics";
}
<div class="container" ng-controller="rateLyricsController">

    <div class="row form-group">
        <div class="col-lg-4">
            <img id="notAppropiated" alt="parentAdvisory" src="~/images/parental-advisory.jpg" width="0" height="0" ng-show="notAppropiated" />
            <img id="appropiated" alt="parentAdvisoryA" src="~/images/thumbsup.jpg" width="0" height="0" ng-show="appropiated" />
        </div>
        <div class="col-lg-4">
            <label>Paste Lyrics:</label>
            <br />
            <textarea class="form-control" ng-model="lyrics" ng-change="setImage()" style="width: 100%;" rows="15"></textarea>
            <br/>
            <button class="btn btn-md btn-primary" style="width: 100%" ng-click="rate();">Rate</button>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>